.top_bar {
    background-color: lightblue;
    text-align: center;
}

.scan_to_enter {
    text-align: center;
}

.uci_id_enter {
    text-align: center;
}

.logo {
    height: 10em;
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.machine_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.machine{
    width: 120px;
    height: 50px;
}